[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"
pytest = "*"
traveler-client-python = {editable = true, path = "."}
pylint-venv = "*"

[requires]
python_version = "3.9"
